.App {
  text-align: center;
}

.navbarStyled {
  background-color: #206A5D
}

.searchContainer {
  margin: auto;
  width: 50%;
}

.cardContainer {
  height: 75vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

.searchBox {
  border-radius: 10px;
  border-color: transparent !important;
}

.cardStyled {
  margin-bottom: 10px;
  cursor: pointer;
}

.profileContainer {
  margin-top: 10px;
}

.firstRow {
  margin-top: 10px !important;
  margin-bottom: 20px;
}

.loaderPosition {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dealsContainer {
  height: 25vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.dealsContainer::-webkit-scrollbar {
  display: none;
}
